In [24]:
!pip install --upgrade yfinance

Requirement already satisfied: yfinance in c:\users\ojirobe\anaconda3\lib\site-packages (0.2.12)
Requirement already satisfied: numpy>=1.16.5 in c:\users\ojirobe\anaconda3\lib\site-packages (from yfinance) (1.21.5)
Requirement already satisfied: beautifulsoup4>=4.11.1 in c:\users\ojirobe\anaconda3\lib\site-packages (from yfinance) (4.11.1)
Requirement already satisfied: html5lib>=1.1 in c:\users\ojirobe\anaconda3\lib\site-packages (from yfinance) (1.1)
Requirement already satisfied: multitasking>=0.0.7 in c:\users\ojirobe\anaconda3\lib\site-packages (from yfinance) (0.0.11)
Requirement already satisfied: requests>=2.26 in c:\users\ojirobe\anaconda3\lib\site-packages (from yfinance) (2.28.1)
Requirement already satisfied: pandas>=1.3.0 in c:\users\ojirobe\anaconda3\lib\site-packages (from yfinance) (1.4.4)
Requirement already satisfied: appdirs>=1.4.4 in c:\users\ojirobe\anaconda3\lib\site-packages (from yfinance) (1.4.4)
Requirement already satisfied: cryptography>=3.3.2 in c:\users\ojirobe\anaconda3\lib\site-packages (from yfinance) (37.0.1)
Requirement already satisfied: pytz>=2022.5 in c:\users\ojirobe\anaconda3\lib\site-packages (from yfinance) (2022.7.1)
Requirement already satisfied: frozendict>=2.3.4 in c:\users\ojirobe\anaconda3\lib\site-packages (from yfinance) (2.3.5)
Requirement already satisfied: lxml>=4.9.1 in c:\users\ojirobe\anaconda3\lib\site-packages (from yfinance) (4.9.1)
Requirement already satisfied: soupsieve>1.2 in c:\users\ojirobe\anaconda3\lib\site-packages (from beautifulsoup4>=4.11.1->yfinance) (2.3.1)
Requirement already satisfied: cffi>=1.12 in c:\users\ojirobe\anaconda3\lib\site-packages (from cryptography>=3.3.2->yfinance) (1.15.1)
Requirement already satisfied: six>=1.9 in c:\users\ojirobe\anaconda3\lib\site-packages (from html5lib>=1.1->yfinance) (1.16.0)
Requirement already satisfied: webencodings in c:\users\ojirobe\anaconda3\lib\site-packages (from html5lib>=1.1->yfinance) (0.5.1)
Requirement already satisfied: python-dateutil>=2.8.1 in c:\users\ojirobe\anaconda3\lib\site-packages (from pandas>=1.3.0->yfinance) (2.8.2)
Requirement already satisfied: charset-normalizer<3,>=2 in c:\users\ojirobe\anaconda3\lib\site-packages (from requests>=2.26->yfinance) (2.0.4)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in c:\users\ojirobe\anaconda3\lib\site-packages (from requests>=2.26->yfinance) (1.26.11)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\ojirobe\anaconda3\lib\site-packages (from requests>=2.26->yfinance) (2022.9.14)
Requirement already satisfied: idna<4,>=2.5 in c:\users\ojirobe\anaconda3\lib\site-packages (from requests>=2.26->yfinance) (3.3)
Requirement already satisfied: pycparser in c:\users\ojirobe\anaconda3\lib\site-packages (from cffi>=1.12->cryptography>=3.3.2->yfinance) (2.21)

In [25]:
def make_graph(stock_data, revenue_data, stock):
    fig = make_subplots(rows=2, cols=1, shared_xaxes=True, subplot_titles=("Historical Share Price", "Historical Revenue"), vertical_spacing = .3)
    stock_data_specific = stock_data[stock_data.Date <= '2021--06-14']
    revenue_data_specific = revenue_data[revenue_data.Date <= '2021-04-30']
    fig.add_trace(go.Scatter(x=pd.to_datetime(stock_data_specific.Date, infer_datetime_format=True), y=stock_data_specific.Close.astype("float"), name="Share Price"), row=1, col=1)
    fig.add_trace(go.Scatter(x=pd.to_datetime(revenue_data_specific.Date, infer_datetime_format=True), y=revenue_data_specific.Revenue.astype("float"), name="Revenue"), row=2, col=1)
    fig.update_xaxes(title_text="Date", row=1, col=1)
    fig.update_xaxes(title_text="Date", row=2, col=1)
    fig.update_yaxes(title_text="Price ($US)", row=1, col=1)
    fig.update_yaxes(title_text="Revenue ($US Millions)", row=2, col=1)
    fig.update_layout(showlegend=False,
    height=900,
    title=stock,
    xaxis_rangeslider_visible=True)
    fig.show()

In [26]:
import yfinance as yf
import pandas as pd
import requests
from bs4 import BeautifulSoup
import plotly.graph_objects as go
from plotly.subplots import make_subplots

In [31]:
#Define the ticker symbol
tickerSymbol = 'TSLA'

#Get data on this ticker
Tesla = yf.Ticker(tickerSymbol)

# Get the historical prices for this ticker
Tesla_data = Tesla.history(period='max')

In [28]:
Tesla_data.head()

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2010-06-29 00:00:00-04:00,1.266667,1.666667,1.169333,1.592667,281494500,0.0,0.0
2010-06-30 00:00:00-04:00,1.719333,2.028000,1.553333,1.588667,257806500,0.0,0.0
2010-07-01 00:00:00-04:00,1.666667,1.728000,1.351333,1.464000,123282000,0.0,0.0
2010-07-02 00:00:00-04:00,1.533333,1.540000,1.247333,1.280000,77097000,0.0,0.0
2010-07-06 00:00:00-04:00,1.333333,1.333333,1.055333,1.074000,103003500,0.0,0.0

In [29]:
Tesla_data.reset_index(inplace=True)

In [30]:
Tesla_data.head()

,Date,Open,High,Low,Close,Volume,Dividends,Stock Splits
0,2010-06-29 00:00:00-04:00,1.266667,1.666667,1.169333,1.592667,281494500,0.0,0.0
1,2010-06-30 00:00:00-04:00,1.719333,2.028000,1.553333,1.588667,257806500,0.0,0.0
2,2010-07-01 00:00:00-04:00,1.666667,1.728000,1.351333,1.464000,123282000,0.0,0.0
3,2010-07-02 00:00:00-04:00,1.533333,1.540000,1.247333,1.280000,77097000,0.0,0.0
4,2010-07-06 00:00:00-04:00,1.333333,1.333333,1.055333,1.074000,103003500,0.0,0.0

In [46]:
url ='https://www.macrotrends.net/stocks/charts/TSLA/tesla/revenue'
tables = pd.read_html(url)
table = tables[0]

In [47]:
table.head()

,Tesla Annual Revenue(Millions of US $),Tesla Annual Revenue(Millions of US $).1
0,2022,"$81,462"
1,2021,"$53,823"
2,2020,"$31,536"
3,2019,"$24,578"
4,2018,"$21,461"

In [48]:
tesla_revenue = table[['Tesla Quarterly Revenue', 'Revenue']]

KeyError: "None of [Index(['Tesla Quarterly Revenue', 'Revenue'], dtype='object')] are in the [columns]"

In [49]:
tesla_revenue.columns = ['Date', 'Revenue']

NameError: name 'tesla_revenue' is not defined